
.single-item{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

.old-order-container{

  margin: auto;
}

.old-order-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #A9A9A9;
  box-shadow: 0px 2px 0px 0px #A9A9A9;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  border-radius: 8px;
  padding: 50px 50px;
  max-width: 1000px;
  margin-bottom: 40px;
}

.item-list{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.general-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-right-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.buyAgainBtn{
  display: flex;
  justify-content: center;
  /* border-radius: 23px; */
  /* width: 100%; */
  width: 130px;
  color: white;
  background-color: black;
  cursor: pointer;
  /* padding: 10px; */
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
