* {
  box-sizing: border-box;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 10px;

}

.update-form-container-including-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  width: 850px;
  height: 720px;
}

.update-form-container {
  width: 800px;
  height: 600px;
}

.big-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid rgb(189, 183, 183);
  padding-bottom: 36px;
}

.right-container {
  display: flex;
  flex-direction: row;
}

.left-container {
  display: flex;
  flex-direction: column;
  border-left: 1px;
  justify-content: center;
  width: 400px;
}

.form-page {
  display: flex;
  flex: column;
  justify-content: center;
  align-items: center;
}

.save-button {
  min-width: 50px;
  min-height: 30px;
  color: white;
  background-color: black;
  border: none;
  font-weight: bold;
  padding: 12px 15px;
  border-radius: 60px;
}

.save-button:hover {
  background-color: grey;
}

.cancel-button,
.delete-pin {
  width: 70px;

  min-height: 30px;
  color: blacke;
  background-color: #dcdcdc;
  border: none;
  font-weight: bold;
  padding: 12px 5px;
  border-radius: 60px;
  z-index: 100;
}

.cancel-button:hover {
  background-color: var(--btn-grey-hover);
}

.button-container {
  display: flex;
  flex-direction: row;
}

.pic-container {
  width: 270px;
  height: 400px;
  border-radius: 8px;
  /* border: 1px solid rgb(238, 238, 238);
  background-color: rgb(238, 238, 238); */
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.pic {
  width: 255px;
}

.description-area,
.title-area,
.link-area,
.altText-area {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  outline: none;
}

input,
textarea {
  border-radius: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #111;
  padding-left: 8px;
  padding-top: 12px;
  outline: none;
}

.text-input-box,
.alt-input-box {
  height: 100px;
  width: 400px;
  resize: none;
}

.text-input-box {
  height: 200px;
}

#alt-text-textbox:focus {
  outline: none;
  border-bottom: 2px solid blue;
  box-shadow: none;
}

label {
  display: inline-block;
  width: 150px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}

.comment-toggle {
  padding-top: 12px;
  align-self: flex-start;
  display: flex;
  gap: 12px;
}

textarea[name="description"]::placeholder {
  text-align: left;
}

textarea[name="altText"]::placeholder {
  text-align: left;
}

.button-container {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  justify-content: space-between;
}

.right-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.save-button {
  margin-left: 10px;
}

/*
.error-container{

  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
} */

/* .error label {
  color: #cc0033;
} */
/*
.error input[type=text] {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
} */
/*

.error-area{
  color: #CC0000;
  background-color: #fce4e4;
  margin-bottom: 15px;
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 150px;
} */

.errors {
  color: #cc0000;
}

.edit-this-pin {
  font-size: 24px;
  color: #111;
  padding-bottom: 16px;
}


.error-section{
  font-size: 14px;
  color: rgb(230, 17, 17);
  margin-bottom: 20px;
  text-align: end;

}
