/* h1 {
  margin-top: 100px;
} */


.item-container {
  display: flex;
  max-width: 1400px;
  padding: 30px 36px;
  margin: 20px auto;
}

.image-container-item-detail-page {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  gap: 1rem;
  width: 77%;
}


.item-sub-images {
  width: 120%;
  height: 100%;
  overflow-y: auto;
}

.small-img {
  max-width: 100%;
  object-fit: cover;
  opacity: 0.6;
}

.small-img:hover {
  opacity: 1;
}

.small-img-container {
  width: 100%;
  aspect-ratio: auto 1/1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  border-radius: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}


.item-main-image {
  width: 750px;
  aspect-ratio: auto 5/4;
  /* overflow: hidden; */
  /* justify-content: center; */
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  padding-right: 20px;
}

.main-img {
  height: 100%;
  object-fit: cover;
}

.detailContainer {
  padding-top: 100px;
  width: 33%;
  padding-left: 1.5rem;

}


.shop-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2rem;
  color: #1f1e1e;
}

.item-title {
  font-size: 24px;
  margin-bottom: 30px;
  color: #1f1e1e;
}

.item-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}



.addBtn {
  display: flex;
  justify-content: center;
  border-radius: 23px;
  width: 100%;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}





.description-btn {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  margin: auto;

}

/* modal related css */

.modal-container,
.overlay {

  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

/* .overlay {
  background: rgba(49, 49, 49, 0.8);
} */

.item-detail-info {
  position: absolute;

  /* here */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;

  max-width: 600px;
  min-width: 300px;
  min-height: 100%;

}

.cart-item-img {
  width: 80px;
  height: 80px;
}



.right-aligned {
  left: unset;

  top: 0;
  bottom: 0;

  width: 100%;
  max-width: 300px;

  background-color: white;
  position: fixed;
  z-index: 1000;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}



.viewBtn {
  display: flex;
  justify-content: center;
  border-radius: 23px;
  width: 100%;
  height: fit-content;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 15px;
}


.keep-shopping-btn {
  display: flex;
  justify-content: center;
  border-radius: 23px;
  width: 100%;
  height: fit-content;
  color: black;
  background-color: white;
  cursor: pointer;
  padding: 10px;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  border: 1px solid black;
  font-size: 15px;
}

.fa-circle-check {
  color: green;
  top: -70px;
  left: -4px;
  position: relative;
}
