
.shop-img{
  /* width: 80%;
  height: 80%; */
  width: 1600px;
  height: 400px;
}


.update-btn {
  color: #111111;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 14px;
  cursor: pointer;
}
