
.shop-img{
  /* width: 80%;
  height: 80%; */
  width: 1600px;
  height: 400px;
}


.update-btn {
  color: #111111;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  padding: 14px;
  cursor: pointer;
}

.img-container{
  text-align: center;
}
.shop-img{
  border-radius: 10px;
}

 .shop-container-info{
  display: flex;
  flex-direction: column;

}
