.landing-title{
  margin-top: 100px;

}


.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.home-page-container > h1 {
  font-family: "Hepta";
}

.home-page-container > div.homepage-banner {
  background-image: url('https://i.etsystatic.com/isbl/6649cd/56418897/isbl_3360x840.56418897_28jab77w.jpg?version=0');
  /* background-image: url(https://i.etsystatic.com/isbl/dceacd/52216431/isbl_3360x840.52216431_3xsrp9xj.jpg?version=0); */
  background-size: cover;
  height: 400px;
  width: 100%;
  background-size: 1880px 390px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-page-container > div.homepage-banner > h1 {
  font-weight: normal;
  font-family: "Hepta";
  /* font-family: "Times New Roman", Times, serif; */
  margin-right: 45%;
  font-size: 70px;
  width: 569px;
}
.home-page-container > div.homepage-banner > button {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 11px 15px;
  margin-right: 980px;
  margin-bottom: 40px;
  color: black;
}

.homepage-banner{
  margin-top: 180px;
}


#personalized-gifts {
  background-image: url('https://i.etsystatic.com/31559599/r/il/6d01c2/4318879490/il_1588xN.4318879490_fyh2.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#fall-decor{
  background-image: url('https://i.etsystatic.com/34814561/r/il/17ec0c/5145197871/il_1588xN.5145197871_k1ed.jpg');
  width: 200px;
  height: 180px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#clothings{
  background-image: url('https://i.etsystatic.com/41744200/r/il/82e462/4705240768/il_1588xN.4705240768_p80n.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#jewelry{
  background-image: url('https://i.etsystatic.com/41141001/r/il/3358e1/5065850275/il_1588xN.5065850275_pa4i.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#wedding-gifts{
  background-image: url('https://i.etsystatic.com/21497424/r/il/f31689/4761681592/il_1588xN.4761681592_4inf.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}





.recommend-section  h4 {
  /* font-weight: normal; */
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 100;

}

.recommend-section > ul.category-conteiner {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recommend-section > ul.category-conteiner > li {
  margin-right: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.recommend-section{
  padding-bottom: 200px;
}
