.landing-title{
  margin-top: 100px;

}


.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.home-page-container > h1 {
  font-family: "Hepta";
}

.home-page-container > div.homepage-banner {
  background-image: url('https://i.etsystatic.com/isbl/6649cd/56418897/isbl_3360x840.56418897_28jab77w.jpg?version=0');
  /* background-image: url(https://i.etsystatic.com/isbl/dceacd/52216431/isbl_3360x840.52216431_3xsrp9xj.jpg?version=0); */
  background-size: cover;
  height: 400px;
  width: 100%;
  background-size: 1880px 390px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.home-page-container > div.homepage-banner > h1 {
  font-weight: normal;
  /* font-family: "Hepta"; */
  /* font-family: "Times New Roman", Times, serif; */
  margin-right: 45%;
  font-size: 70px;
  width: 569px;
}
.home-page-container > div.homepage-banner > button {
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 11px 15px;
  margin-right: 980px;
  margin-bottom: 40px;
  color: black;
}

.homepage-banner{
  margin-top: 180px;
}


#art {
  background-image: url('https://i.etsystatic.com/8444652/r/il/110a4d/2309247021/il_794xN.2309247021_rl0n.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#toys{
  background-image: url('https://i.etsystatic.com/17305851/r/il/291538/5215722000/il_794xN.5215722000_nbtn.jpg');
  width: 200px;
  height: 180px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#clothings{
  background-image: url('https://i.etsystatic.com/44828381/r/il/8a250b/5203132610/il_1588xN.5203132610_ck92.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#jewelry{
  background-image: url('https://i.etsystatic.com/10953576/r/il/6f8f15/1126894655/il_1588xN.1126894655_m36k.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


#wedding{
  background-image: url('https://i.etsystatic.com/15108788/r/il/efca27/1834729629/il_1588xN.1834729629_p6jg.jpg');
  width: 200px;
  height: 180px;
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}





.recommend-section  h4 {
  /* font-weight: normal; */
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 100;

}

.recommend-section > ul.category-conteiner {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.recommend-section > ul.category-conteiner > li {
  margin-right: 15px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.recommend-section{
  padding-bottom: 200px;
}



*{
  font-family: Arial, Helvetica, sans-serif;
}


.home-page-container{
  max-height: 1000px;
}
