.error-page-title {
  margin-top: 400px;

}

.pageNotFound-page {
  background-image: url("https://projectpin.s3.amazonaws.com/793b428c5f0849739177b3629585b77c.png");
  background-size: contain;
  height: 1000px;
  background-repeat: no-repeat;

}

.pageNotFound-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  margin-left: 200px;


}

.error-page-subtitle{
  margin-top: 20px;
}

.goBack{
  cursor: pointer;
}
