.error-page-title {
  margin-top: 400px;

}

.pageNotFound-page {
  background-image: url("https://cdn.discordapp.com/attachments/1138525166754877607/1148730397304311848/bg.png?ex=65fa028d&is=65e78d8d&hm=6cc50a4585827119d606e6cdcc063b7bf7d4d2e9ae59249c03dfb3560e31ab83&");
  background-size: contain;
  height: 1000px;
  background-repeat: no-repeat;

}

.pageNotFound-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  margin-left: 200px;


}

.error-page-subtitle{
  margin-top: 20px;
}

.goBack{
  cursor: pointer;
}
