.sign-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
  /* margin-top: 200px; */
}

.sign-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  padding: 32px;
  position: relative;
}

.the-errors {
  color: black;
}

.sign-label {
  display: flex;
  flex-direction: column;
  margin-top: 0.4rem;
  color: rgb(52, 50, 50);
  position: relative;
  align-items: flex-start;
  /* margin-right: 4rem; */
}

#modal-content {
  border-radius: 25px;

}

.continue-btn {
  margin-top: 1rem;
  border-radius: 20px;
  background-color: black;
  color: white;
  width: 11rem;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
  border: none;
  align-self: center;
}

.continue-btn.inactive {
  background-color: rgb(240, 239, 239);
  color: gray;
  border: 1px solid darkgray;
  cursor: auto;
}

.continue-btn:hover {
  filter: brightness(90%);
}

.welcome-sign {
  font-size: 25px;
  margin-bottom: 0.5rem;
  margin-top: 10px;
  /* position: absolute; */
  z-index: 100;
  color: rgb(51, 51, 51);
  opacity: 1;
  font-weight: 600;
}

.new-ideas {
  margin-bottom: 0.4rem;
  color: rgb(52, 50, 50);
}

.sign-input {
  border: lightgray 2px solid;
  border-radius: 10px;
  width: 285px;
  height: 30px;
}

.sign-input:focus {
  outline: 2px solid lightskyblue;
}

.sign-input:hover {
  border-color: darkgray;
}

.sign-err {
  color: red;
}

.pwicon {
  position: absolute;
  top: 60%;
  right: 0;
  left: 16rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.pwicon1 {
  position: absolute;
  top: 60%;
  right: 0;
  left: 16rem;
  transform: translateY(-50%);
  cursor: pointer;
}

.switch-login button {
  border-radius: 16px;
  background-color: white !important;
  font-weight: 600;
}

.switch-login button:hover {
  background-color: white !important;
  opacity: 1;
}

#navigation-title-img{
  width: 50px;
  height: 50px;
}

.edit{
  color: black;
}
